In [2]:
import pandas as pd

In [4]:
df_train = pd.read_csv('../00_data/train.csv')

# 全部読み込むと遅いのでとりあえず冒頭5000データのみで分析する
df_train = df_train[:5000].copy()
print(len(df_train))
df_train.head()

5000

,datetime,start_code,end_code,KP,OCC,allCars,speed,is_congestion
0,2021-04-08 00:00:00,1110210,1800006,2.48,1.833333,507,94.208661,0
1,2021-04-08 01:00:00,1110210,1800006,2.48,1.750000,444,94.469663,0
2,2021-04-08 02:00:00,1110210,1800006,2.48,1.500000,363,92.593407,0
3,2021-04-08 03:00:00,1110210,1800006,2.48,1.583333,430,94.501160,0
4,2021-04-08 04:00:00,1110210,1800006,2.48,1.750000,500,94.079840,0

In [8]:
df_train['datetime'] = pd.to_datetime(df_train['datetime'])
df_train['date'] = df_train['datetime'].dt.date
df_train['time'] = df_train['datetime'].dt.time
df_train['weekday'] = df_train['datetime'].dt.weekday

df_train.head()

,datetime,start_code,end_code,KP,OCC,allCars,speed,is_congestion,date,time,weekday
0,2021-04-08 00:00:00,1110210,1800006,2.48,1.833333,507,94.208661,0,2021-04-08,00:00:00,3
1,2021-04-08 01:00:00,1110210,1800006,2.48,1.750000,444,94.469663,0,2021-04-08,01:00:00,3
2,2021-04-08 02:00:00,1110210,1800006,2.48,1.500000,363,92.593407,0,2021-04-08,02:00:00,3
3,2021-04-08 03:00:00,1110210,1800006,2.48,1.583333,430,94.501160,0,2021-04-08,03:00:00,3
4,2021-04-08 04:00:00,1110210,1800006,2.48,1.750000,500,94.079840,0,2021-04-08,04:00:00,3